#_sidebar{
    width: 200px;
    z-index: 10;
}

main{
    margin-left: 200px;
}
#_closeNavigation{
    display: none;
}

@media (max-width: 768px) {
    #_sidebar{
        display: none;
    }
    main{
        margin-left: 0px;
    }
    #_closeNavigation{
        display: block;
    }
    #_showNavigation{
        display: none;
    }
}
